


# Python things
multilayer_py/__pycache__/
multilayer_py/gen_inputs_fields/__pycache__/
multilayer_py/tools/__pycache__/
multilayer_py/visualize/__pycache__/


a_first_simu/ml_breaking_save_visu/
a_first_simu/output_N8_P0.1/
a_first_simu/_ml_breaking.c
a_first_simu/ml_breaking/

*.png
*.svg
*.pdf
multilayer_py/data_Jiarong/

*.deps
*.old
*.tests
*.s
*.d
*.tst
