


# Python things
multilayer_py/__pycache__/
multilayer_py/gen_inputs_fields/__pycache__/
multilayer_py/tools/__pycache__/
multilayer_py/visualize/__pycache__/


first_try/ml_breaking_save_visu/
first_try/output_N8_P0.1/
first_try/_ml_breaking.c
first_try/ml_breaking/
first_try/output_N10_P0.02_NaNs/
first_try/N9_P0.02/
first_try/output_N10_P0.02/
first_try/output_N6_P0.02/
first_try/output_N7_P0.02/
first_try/output_N7_P0.02_NaNs/


b_strat_heat_flux/ml_convection.log~
b_strat_heat_flux/ml_convection/

*.png
*.svg
*.pdf
multilayer_py/data_Jiarong/

*.deps
*.old
*.tests
*.s
*.d
*.tst

a_first_simu/output_N6_P0.02/
b_strat_heat_flux/todo.md
a_first_simu/output*
a_first_simu/N9_P0.02/
recap_4fev26.md
first_try/ml_breaking.log~
a1_C_vs_python_inispec/data_Jiarong/
a1_C_vs_python_inispec/F*
a1_C_vs_python_inispec/k*
a1_C_vs_python_inispec/main
a1_C_vs_python_inispec/__*
a1_C_vs_python_inispec/eta*
todos.md
.qccRjIeoo/
a0_jiarong_simu/.qccRjIeoo/
a0_jiarong_simu/N10_P0.02/
a0_jiarong_simu/_field_PM.c
a0_jiarong_simu/field_PM/
a0_jiarong_simu/field_PMmpi.c
a0_jiarong_simu/postprocess/save_data_Jiarong/
